.contenedorCart{
    margin-bottom: 20px;
}
.tituloCarritoDeCompras{
    text-align: center;
}
.fila-producto-carro{
    display: flex;
    
    border-radius: 10px;
    margin-bottom: 15px;
}
.imagenes-carrito{
    width: 200px;
    padding: 5px;
}
.name-carro{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 5px;
    justify-content: center;
    
    
}
.cant-carro{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    padding-right: 5px;
    margin: 10px;
}
.precio-carro{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 7000;
    justify-content: center;
    margin-bottom: 10px;
}
.remove-carrito{
    background-color: brown;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    
}
.remove-carrito:hover{
    transform: scale(0.9);
    transition: 0.5s;
}

.contenedor-remove-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    
    
    
}
.contenedor-remove-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icono-carrito{
    max-width: 70%;
}
.titulo-fact{
    text-align: center;
}
.totalCarrete{
    font-size: 1.4rem;
}
.addAndRest{
    background-color:brown ;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    padding: 0;
}
.addAndRest:hover{
transform: scale(0.9);
transition: 0.5s;
}
.CountCart{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    margin: 10px;
}
.carrito-vacio{
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imagen-vacio{
    margin-bottom: 10px;
    margin-top: 0;
}
.link-finalizarr{
    text-decoration: none;
}
.link-volver{
    text-decoration: none;
}