.loading{
  height: 60vh;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  text-align: center;
  width: 80%;
  margin: auto;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}







.items{
  text-decoration: none;
  color: azure;
}
.header{
  background-color: #000000;
  padding-top: 15px;
}
.items:hover a {
  color: rgb(153, 49, 49);
}
.titulo{
  color: rgb(153, 49, 49);
}
.lista{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.contenedor-lista{
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.lista a{
  color: white!important;
  text-decoration: none!important;
  font-size: 1.2rem;
  

}


.cont-1{
  display: flex;

}
.contenedor-carro{
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}
.contenedor-logo{
  width: 67%;
  display: flex;
  justify-content: flex-end;

}
.carrito:hover{
  transform: scale(1.1);
  transition: 1s;
}
.link-logo{
  display: flex;
  justify-content: flex-end;
}
.carrito{
  width: 30px;
  height: 30px;

}
.numero{
  color: white;
  background-color: rgb(153, 49, 49);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 20px;
  display: flex;
  margin: 0px;
  
  justify-content: center;
  align-items: center;
}
.item-list{
  background-color: #ffffff;
  color: white;
  width: 90%;
  margin: auto;
  border-radius: 20px;
}
.columna{
  
  
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}
.buton{
  background-color: #ffffff;
  padding: 0;
  width: 70%;
  margin: auto;
  color: rgb(165, 52, 52);
  border: rgb(165, 52, 52) solid 2px;
  border-radius: 10px;
  font-weight: 500;
  padding: 10px;
}
.buton:hover{
  transition: 0.5s;
  background-color: rgb(165, 52, 52);
  color: white;
  border: white solid 2px;
  transform: scale(1.1);
}
.buton2{
  background-color: #4e6ed8;
  padding: 0;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  color: rgb(252, 252, 252);
  border: rgb(255, 255, 255) solid 2px;
  border-radius: 10px;
  font-weight: 500;
  padding: 10px;
  text-decoration: none !important;
}
.buton2:hover{
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  color: #4e6ed8;
  border: #4e6ed8 solid 2px;
  
  transform: scale(0.9);
}
.buton3{
  background-color: rgb(250, 250, 250);
  
  text-decoration: none;
  margin: auto;
  margin-top: 10px;
  color: rgb(165, 52, 52);
  border: rgb(165, 52, 52) solid 2px;
  border-radius: 10px;
  font-weight: 500;
 padding: 10px;
  max-width: 100%;
}
.buton3:hover{
  transition: 0.5s;
  background-color: rgb(165, 52, 52);
  color: white;
  border: white solid 2px;
  transform: scale(1.1);

}
.butonFinalizar{
  background-color: rgb(165, 52, 52);;
  padding: 0;
  width: 70%;
  margin: auto;
  color: rgb(255, 255, 255);
  border: rgb(165, 52, 52) solid 2px;
  border-radius: 10px;
  font-weight: 500;
  padding: 10px;
  text-decoration: none;
}
.link-finaly{
  display: contents;
}
.butonFinalizar:hover{
  transition: 0.5s;
  background-color: rgb(165, 52, 52);
  color: white;
  border: white solid 2px;
  transform: scale(1.1);
}
.linea{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-bottom: 10px;

}
.mas{
  
  color: rgb(165, 52, 52);
  text-decoration: none;
  display: flex;
  font-weight: bold;
  
  
}
.numero-agregar{
  margin: 0px;
  color: rgb(165, 52, 52);
  font-weight: bold;
}
.carta{
  display: flex;
  justify-content: center;
  background-color: white;
  color: #000000;
  padding: 20px;
  border: #0000002c solid 0.1px;
  
}
.stock{
 font-weight: bold;
 text-align: center;
}
.detalle{
  background-color: rgb(165, 52, 52);
  border-radius: 20px;
  margin-bottom: 10px;
  color: white;
  border: none;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
.detalle:hover {
  transform: scale(1.1);
  transition: 1s;
}
.img-producto{
  width: 300px;
  margin-bottom: 10px;
  
 
}
.nombre-producto{
  font-size: 1.2rem;
  text-align: center;
}
.footer{
  background-color: #000000;
  padding: 15px;
}
.redes{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto-footer{
  display: flex;
  justify-content: center;
  color: rgb(165, 52, 52);
  align-items: center;
  padding: 10px;
}
.contacto-footer p{
  margin: 0;
  
}
.logos{
  margin-right: 10px;
  margin-left: 10px;
}
.palabra-greeting{
  background-color: #000000;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}
.dos{
  color: #000000;
  font-size: 2rem;
  border-bottom: 0.5px #80808096 solid;
  padding-bottom: 15px;
}
.item-detail{
  margin: auto;
  margin-top: 30px;
}
.imagen-detail{
  max-width: 100%;
  border-radius: 20px;
}
.contenedor-img-detail{
  display: flex;
  
  justify-content: center;
}
.textos-detalles{
  height: 90%;
  border: 1px #b1acac9e solid;
    border-radius: 19px;
  
}
.linea-boton{
  display: flex;
}
.contenedor-detail{
  margin-bottom: 20px;
    padding: 10px;
    border: 0.5px solid #80808096;
    border-radius: 20px;
}
.detail-description{
  border-bottom: 0.5px #80808096 solid;
  padding-bottom: 15px;
}
.detail-precio{
  text-align: center;
}
.precio-detail-numero{
  color: rgb(47, 102, 76);
}
.link-detalle{
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.precio-categorias{
  text-align: center;
}
.aviso{
  color: rgb(47, 102, 76);
  font-size: 0.9rem;
  border-bottom: 0.5px #80808096 solid;
  padding-bottom: 10px;
  
}
.color-loading{
  color: red;
}
.spiner{
  padding: 20px;
  margin: 20px;
  
}
.texto-carga{
  margin: 0;
}